.card {
    height: auto;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    border: solid lightblue;
    margin-top: 15px;
    cursor: grab;
    flex-wrap: wrap;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: center;
}

.card:hover {
    border: solid lightskyblue;
    background-color: lightcyan;
}

.card__content {
    justify-content: space-between ;
    padding: 15px;
}

.card__img {
    height: 220px;
    width: 270px;
    justify-content: center;
    /*overflow: hidden;*/
}
.card__img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.card__btn {
    margin-top: 5px;
    padding: 15px 15px;
    color: blue;
    font-size: 14px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border: solid blue 1px;
}

.card__btn:hover {
    border: 2px solid royalblue;
    background-color: blue;
    color: white;
    transition-duration: 0.5s;
}

.card__btn2 {
    margin-top: 5px;
    padding: 15px 15px;
    color: red;
    font-size: 14px;
    background: transparent;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border: solid 1px red;
}

.card__btn2:hover {
    border: 2px solid indianred;
    background-color: red;
    color: white;
    transition-duration: 0.5s;
}
