.log {
    /*flex-direction: column;*/
    color:dodgerblue;
    /*background-color: transparent;*/
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
