.myBtn {
    margin-top: 5px;
    padding: 15px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border-radius: 1px solid teal;
    cursor: pointer;
    font-weight: bold;
    /*text-align: center;*/
    /*align-self: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
}

