.likeButton {
    margin-top: 2px;
    width: 28px;
    height: 30px;
    border: 1px solid black;
    background: transparent;
}

.likeButton:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}