.comments__btn {
    width: 150px;
    /*margin-top: 5px;*/
    margin-left: 162px;
    padding: 15px 15px;
    color: blue;
    font-size: 14px;
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    border: solid 1px blue;
}

.comments__btn:hover {
    border: 2px solid royalblue;
    background-color: blue;
    color: white;
    transition-duration: 0.5s;
}

.comments__btn2 {
    width: auto;
    margin-top: 5px;
    padding: 5px;
    color: blue;
    font-size: 14px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border: solid 1px blue;
}

.comments__btn2:hover {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    transition-duration: 0.5s;
}

.comments__btn3 {
    width: auto;
    margin-top: 5px;
    padding: 5px;
    color: red;
    font-size: 14px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border: solid 1px red
}

.comments__btn3:hover {
    background-color: red;
    color: white;
    transition-duration: 0.5s;
}