/*для всех добавим общий стиль*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Стиль для нашего root*/
#root {
    /*display: flex;*/
    justify-content: center;
    flex-direction: column;
}

.App {
    width: 800px;
}
